                * {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    color: #000000;
                }
                
                body {
                    clear: both;
                    position: relative;
                    margin: 0 auto;
                    width: 100%;
                    height: 455px;
                }
                
                #caja {
                    margin: 0 auto;
                    width: 98%;
                    text-align: right;
                    line-height: 62px;
                }
                
                #caja a {
                    width: 57px;
                }
                
                #titulo {
                    position: relative;
                    margin: 0 auto;
                    top: 0%;
                    width: 100%;
                    text-align: center;
                }
                
                h1 {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 23px;
                    line-height: 25px;
                    text-align: center;
                    color: #155DC9;
                }
                
                #autonomo {
                    position: absolute;
                    margin: 0 auto;
                    left: 0%;
                    right: 0%;
                    top: 65%;
                    bottom: 0%;
                    width: 100%;
                    text-align: center;
                    font-size: 8rem;
                }
                
                #pulsador {
                    width: 160px;
                    height: 160px;
                    background: url(img/pulsador.jpg);
                }
                
                #reloj {
                    position: absolute;
                    margin: 0 auto;
                    left: 0%;
                    right: 0%;
                    top: 30%;
                    bottom: 0%;
                    width: 100%;
                    text-align: center;
                }
                
                #Segundos,
                #Minutos,
                #Horas {
                    font-size: 8rem;
                }